{% extends "layout/base2.html" %}

{% block content %} 

    <div class="d-flex vw-100 vh-100 justify-content-center align-items-center">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Te has registrado con exito!</h4>
            <p>Cuenta inactiva</p>
            <hr>
            <p class="mb-0">Luego del registro, para poder ingresar a la plataforma por favor espera a que el administrador active tu cuenta.</p>
            <a class="mb-3 btn btn-danger" href="{% url 'home' %}">Volver</a>
        </div>
    </div>
{% endblock %}
