{% extends "layout/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "Iniciar Sesión" %}{% endblock %}

{% block content %}

  <div class="text-center">
    <h1>{% trans "Iniciar Sesión" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Por favor, inicie sesión con una de sus cuentas de terceros existentes.
      <br>o, <a href="{{ signup_url }}">registrate</a>
    para una {{ site_name }}e inicie sesión a continuación:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <div class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </div>

      <div class="login-or border-top border-bottom my-3">{% trans 'O' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}Si aún no has creado una cuenta, entonces por favor
    <a href="{{ signup_url }}">registrate</a> primero.{% endblocktrans %}</p>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="d-grid">
            <button class="primaryAction mt-3 btn btn-dark" type="submit">{% trans "Iniciar Sesión" %}</button><br>
            <a class="button secondaryAction text-dark text-center" href="{% url 'account_reset_password' %}">{% trans "Resetear contraseña" %}</a>
          </div>
        </form>
    </div>
  </div>
{% endblock %}