{% extends "layout/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Cerrar sesión" %}{% endblock %}

{% block content %}
<div class="text-center">
<h1>{% trans "Cerrar sesión" %}</h1>

<p>{% trans '¿Estás seguro de que quieres cerrar la sesión?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-dark" type="submit">{% trans 'Cerrar sesión' %}</button>
</form>

</div>
{% endblock %}