{% extends "layout/base.html" %}

{% load crispy_forms_filters %}

{% block content %}
  <div class="d-flex vw-100 vh-100 justify-content-center align-items-center">
    <div class="rounded border border-2 d-flex flex-column" style="height:200px; width: 400px;">
      <h1 class="h3 w-100 bg-secondary text-white d-flex justify-content-center align-items-center" style="height: 60px;">
        Resetear Contraseña
      </h1>
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <div class="w-100 mt-2 d-flex justify-content-center">
        <form method="POST" action="{% url 'account_reset_password' %}" class="form-group">
          {% csrf_token %}
          {{ form|crispy }}
          <input class=" mt-2 btn btn-primary" type="submit" value="Resetear" />
        </form>
      </div>
    </div>
  </div>    
{% endblock %}