<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ProjectManager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <div><a class="nav-link" href="{% url 'home' %}">Home</a></div>
                {% if user.is_authenticated %}
                    <div><a class="nav-link" href="{% url 'proyecto_listar' %}">Proyectos</a></div>
                    <div><a class="nav-link" href="{% url 'list_rol' %}">Roles</a></div>

                {% endif %}
            </div>
            <div class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                  <div><a class="nav-link" href="{% url 'account_email' %}">Cambiar email</a></div>
                  <div><a class="nav-link" href="{% url 'account_logout' %}">Cerrar Sesión</a></div>
                {% else %}
                  <div><a class="nav-link" href="{% url 'account_login' %}">Iniciar Sesión</a></div>
                  <div><a class="nav-link" href="{% url 'account_signup' %}">Registrarte</a></div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>