<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p><div><a type="submit" href="{% url 'create_rol' %}">Crear nuevo rol</a></div>
<div><a type="submit" href="{% url 'account_login' %}">Home</a></div></p>

{% for object in object_list %}
    <p>{{ object }}
        <a type="submit" href="{% url 'update_rol' object.id %}">Modificar</a>
        <a type="submit"  href="{% url 'delete_rol' object.id %}"> Eliminar </a>
        <a type="submit"  href="{% url 'list_user' %}"> Asignar Rol </a>
    </p>

{% endfor %}

</body>
</html>