{% extends "layout/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-dark" type="submit">Guardar</button>
        </form>
        <a class="mb-3 btn btn-danger" href="{% url 'proyecto_gestion' slug=proyecto.slug %}">Volver</a>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>
{% endblock %}