{% extends "layout/base.html" %}

{% block content %}
<div class="row">
    <div class="col-6">
        <h3 class="mb-2">{{ proyecto.nombre }}</h3>
        <p class="mb-3">{{ proyecto.descripcion }}</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-dark" type="submit">Guardar</button>
        </form>
    </div>
    <div class="col-6">
        <form action="{% url 'proyecto_iniciar' proyecto.slug %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-dark" type="submit">Iniciar Proyecto</button>
        </form>
        <a href="{% url 'proyecto_rol' proyecto.slug %}">Roles</a>
        <p class="mb-3">Manejo de Product Backlog Y Sprint iria aqui</p>
    </div>
</div>
{% endblock %}