{% extends "layout/base.html" %}

{% block content %}
<div class="row mb-3">
    <h3>Finalizacion de Proyecto</h3>
    <h5>Informacion a tener en cuenta</h5>
    <ul>
        <li>Horas de desarrollo total del proyecto: {{ horas }} hs.</li>
        <li>{{ sprints_realizados }} Sprints Realizados en el proyecto</li>
        <li>Fecha de Inicio: {{ proyecto.fecha_inicio }}</li>
    </ul>
</div>
<div class="row mb-3">
    <div class="form-group col-md-4">
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-dark" type="submit">Finalizar</button>
        </form>
        <a class="mb-3 btn btn-danger" href="{% url 'proyecto_gestion' slug=proyecto.slug %}">Volver</a>
    </div>
</div>
{% endblock %}