{% extends "layout/base.html" %}
{% load guardian_tags %}
{% load projectmanager_extras %}
{% block extra_head %}
<style>
.btn-flotante {
font-size: 16px; /* Cambiar el tamaño de la tipografia */
text-transform: uppercase; /* Texto en mayusculas */
font-weight: bold; /* Fuente en negrita o bold */
color: #ffffff; /* Color del texto */
border-radius: 5px; /* Borde del boton */
letter-spacing: 2px; /* Espacio entre letras */
background-color: #E91E63; /* Color de fondo */
padding: 18px 30px; /* Relleno del boton */
position: fixed;
bottom: 40px;
right: 40px;
transition: all 300ms ease 0ms;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
z-index: 99;
}
.btn-flotante:hover {
background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
.btn-flotante {
font-size: 14px;
padding: 12px 20px;
bottom: 20px;
right: 20px;
}
}
</style>
{% endblock %}
{% block content %}
    {% get_obj_perms request.user for proyecto as "proyecto_perms" %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="mb-2">{{ proyecto.nombre|title }}</h2>
    </div>
    <div class="col-md-4"><h5>Estado: <strong>{{ proyecto.estado }}</strong></h5></div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p class="mb-2">{{ proyecto.descripcion }}</p>
        <hr/>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-6 border border-2">
        <div class="row m-1">
            <div class="col-md-4">
                <h4>Scrum Members</h4>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
            {% if proyecto.estado != 'CAN' and proyecto.estado != 'FIN' %}
                {% if "gestionar_scrum_members" in proyecto_perms or request.user|has_group:'Administrador' %}
                    <a class="btn btn-dark" href="{% url 'proyecto_agregar_sm' proyecto.slug %}">Agregar</a>
                {% endif %}
            {% endif %}
            {% if proyecto.estado != 'CAN' and proyecto.estado != 'FIN' %}
                {% if "gestionar_scrum_members" in proyecto_perms or request.user|has_group:'Administrador' %}
                    <a class="btn btn-dark" href="{% url 'proyecto_quitar_sm' proyecto.slug %}">Quitar</a>
                {% endif %}
            {% endif %}
            </div>
        </div>
        <div class="row m-1">
            <table class="table mb-2">
              <thead>
                <tr>
                  <th scope="col">Usuario</th>
                  <th scope="col">Email</th>
                    <th scope="col">Horas Disponibles (Lunes a Viernes)</th>
                </tr>
              </thead>
              <tbody>
                {% for scrum_member in proyecto.scrum_member.all %}
                    <tr>
                      <th scope="row">{{ scrum_member.username }}</th>
                      <td>{{ scrum_member.email }}</td>
                     <td>
                        {% for work in scrum_member.tiempos_de_trabajo.all %}
                         {% if work.proyecto == proyecto %}
                            {{ work.horas }}/
                         {% endif %}
                     {% endfor %}
                    </td>
                    </tr>
                {% empty %}
                    <div class="mb-2">
                        <p>No tienes Scrum Members, agregalos!</p>
                    </div>
                {% endfor %}
              </tbody>
            </table>
            <div style="margin-block: 10px" >
            {% if proyecto.estado != 'CAN' and proyecto.estado != 'FIN' %}
                {% if 'gestionar_roles_proyecto' in proyecto_perms or request.user|has_group:'Administrador' %}
                    <a class="btn btn-dark align-center" href="{% url 'proyecto_rol' proyecto.slug %}" >
                        Roles
                    </a>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6 border border-2">
        <div class="row m-1">
            <div class="col-md-4">
                <h4>Product Backlog</h4>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
            {% if proyecto.estado != 'CAN' and proyecto.estado != 'FIN' %}
                {% if "gestionar_user_stories" in proyecto_perms or request.user|has_group:'Administrador' %}
                    <a class="btn btn-dark" href="{% url 'create_us' proyecto.slug %}">Editar</a>
                {% endif %}
            {% endif %}
            </div>
        </div>
        <div class="row m-1">
            <table class="table mb-2">
              <thead>
                <tr>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Estado</th>
                    {% if proyecto.estado == 'ACT' and proyecto.sprint_actual.estado == 'conf1' %}
                        <th scope="col">Agregar a Sprint Backlog</th>
                    {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for ustory in proyecto.product_backlog.all %}
                    {% if ustory.estado == 'Nuevo' or ustory.estado == 'no-terminado' or proyecto.estado == 'FIN' %}
                        {% if ustory.sprint == null or ustory.sprint.estado == 'fin' %}
                        <tr>
                          <td>{{ ustory.descripcion }}</td>
                          <td>{{ ustory.estado }}</td>
                        {% if proyecto.siguiente_sprint.estado == 'conf1' or proyecto.sprint_actual.estado == 'conf1' %}
                            {% if proyecto.estado == 'ACT' %}
                            <td>
                                <form method="POST"
                                        action="{% url 'cargar_sprint_backlog' usPk=ustory.pk sprintPk=proyecto.sprint_actual.pk %}">
                                    {% csrf_token %}
                                    <select name="sprintx" id="sprint" style="width: 150px">
                                        {% if proyecto.sprint_actual.estado == 'conf1' %}
                                            <option value="1">Sprint Actual</option>
                                        {% endif %}
                                        {% if proyecto.siguiente_sprint %}
                                            <option value="2">Sprint Siguiente</option>
                                        {% endif %}
                                    </select>
                                    <button class="btn btn-success">
                                        <h4>+</h4>
                                    </button>
                                </form>
                            </td>
                            {% endif %}
                        {% endif %}
                        </tr>
                        {% endif %}
                    {% endif %}
                {% empty %}
                    <div class="mb-2">
                        <p>No tienes UserStories, agregalos!</p>
                    </div>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>
{% if proyecto.estado == 'PEN' %}
    <div class="row m-2">
        <div class="col-md-2">
            {% if proyecto.estado != 'CAN' and request.user|has_group:"Administrador" %}
                {% if proyecto.estado != 'FIN' %}
                    <a class="btn btn-dark m-1" href="{% url 'proyecto_editar' proyecto.slug %}">Editar Proyecto</a>
                {% endif %}
            {% endif%}
            {% if "iniciar_proyecto" in proyecto_perms or request.user|has_group:'Administrador' %}
                <a class="btn btn-dark m-1" href="{% url 'proyecto_iniciar' proyecto.slug %}">Iniciar</a>
            {% endif %}
            {% if "cancelar_proyecto" in proyecto_perms or request.user|has_group:'Administrador' %}
                <a class="btn btn-danger m-1" href="{% url 'proyecto_cancelar' proyecto.slug %}">Cancelar</a>
            {% endif %}
        </div>
    </div>
{% endif %}
{% if not proyecto.sprint_actual or not proyecto.siguiente_sprint %}
    {% if "planificar_sprint" in proyecto_perms or request.user|has_group:'Administrador' %}
        {% if proyecto.estado == 'ACT' %}
            <div class="row mt-2">
                <div class="col-md-2">
                    <a href="{% url 'crear_sprint' slug=proyecto.slug %}" class="btn btn-dark">Planificar Sprint</a>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
{%  if proyecto.sprint_actual %}
    {% include 'sprint/gestion_sprint.html' %}
{% endif %}
{% if proyecto.estado == 'FIN' %}
    <div class="row mt-4"></div>
    <hr/>
    <hr/>
    <div class="row mt-1"><h4>Registro de Sprints</h4></div>
    <div class="row mt-3">
        {% for sprint in proyecto.registro_sprints.all %}
            <div class="row">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Sprint {{ sprint.fecha_inicio_desarrollo|date:"M d, Y" }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Fecha Inicio: {{ sprint.fecha_inicio|date:"M d, Y" }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Fecha Fin: {{ sprint.fecha_finalizacion|date:"M d, Y" }}</h6>
{#                    <p class="card-text">Descripcion Final o Algo</p>#}
                    <a href="{% url 'ver_sprint_detail' sprint.pk %}" class="card-link">Ver en detalle</a>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="row mt-4"></div>
    <hr/>
    <hr/>
    <div class="row mt-1"><h4>Registro de Sprints</h4></div>
    <div class="row mt-3">
        {% for sprint in proyecto.registro_sprints.all %}
            {% if sprint != proyecto.sprint_actual and sprint != proyecto.siguiente_sprint %}
                <div class="row">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Sprint {{ sprint.fecha_inicio_desarrollo|date:"M d, Y" }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Fecha Inicio: {{ sprint.fecha_inicio|date:"M d, Y" }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Fecha Fin: {{ sprint.fecha_finalizacion|date:"M d, Y" }}</h6>
{#                    <p class="card-text">Descripcion Final o Algo</p>#}
                    <a href="{% url 'ver_sprint_detail' sprint.pk %}" class="card-link">Ver en detalle</a>
                  </div>
                </div>
            </div>

            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% if finalizar %}
    <div>
        <a href="{% url 'finalizar_proyecto' slug=proyecto.slug %}" class="btn btn-flotante">Finalizar Proyecto</a>
    </div>
{% endif %}
{% endblock %}