{% extends "layout/base.html" %}
{% load projectmanager_extras %}

{% block content %}
<div class="container">
{% if perms.projectmanager.crear_proyecto %}
    <a class="mb-3 btn btn-dark" href="{% url 'proyecto_crear' %}">Crear</a>
{% endif %}
<h4 class="mb-3">Proyectos a los que tienes acceso: </h4>
<p class="mb-3">Haz click para gestionar tu proyecto: </p>
</div>
<table class="table table-hover">
	<thead>
		<tr>
            <th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col">Estado</th>
			<th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha Fin</th>
			<th scope="col">Scrum Master</th>
		</tr>
	</thead>

	<tbody>
		{% if object_list %}
		{% for proyecto in object_list %}
            <tr onclick="document.location = '{% url 'proyecto_gestion' slug=proyecto.slug %}';">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ proyecto.nombre }}</td>
                <td>{{ proyecto.estado }}</td>
                <td>{{ proyecto.fecha_inicio }}</td>
                {% if proyecto.estado == 'FIN' or proyecto.estado == 'CAN' %}
                    <td>{{ proyecto.fecha_fin }}</td>
                {% else %}
                    <td>--</td>
                {% endif %}
                <td>{{ proyecto.scrum_master }}</td>
            </tr>
		{% endfor %}
		{% else %}
		<h1>No hay registros de proyectos</h1>
		{% endif%}
	</tbody>
</table>
{% endblock%}