{% extends 'layout/base.html' %}
{% block body %}
<div class="col-md-6  "  >
    <div class="card card-default" >
        <div class="card-header">
            <h3 class="card-title">
            CREAR ROL PARA PROYECTO {{ proyecto.nombre }}
            </h3>
        </div>
        <div class="card-body">
                <form action="{% url 'proyecto_rol' proyecto.slug %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Guardar</button>
                </form>
        </div>

    </div>
</div>
{% endblock %}
