{% extends 'layout/base.html' %}
{% block body %}
<div class="row mb-3">
    <div class="col-md-10">
        <h3 class="mb-3">Gestion de Roles de proyecto {{ proyecto.nombre }}</h3>
    </div>
    <div class="col-md-2">
        <a class="btn btn-dark mr-2" href="{% url 'proyecto_rol_importar' proyecto.slug %}" role="button">Importar Roles</a>
    </div>
</div>
<hr/>
<div class="row mb-3">
    <div class="col-md-6">
        <div class="card card-default">
            <div class="card-header">
                <h4 class="card-title">
                Crear Nuevo Rol
                </h4>
            </div>
            <div class="card-body">
                    <form action="{% url 'proyecto_rol' proyecto.slug %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-dark" type="submit">Guardar</button>
                    </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <h4 class="mb-3">Roles Disponibles: </h4>
        <ul class="list-group d-flex mb-3">
            {% for rol in proyecto.roles.all %}
                <li class="list-group-item">{{ rol.related_group.name }}</li>
                <li class="list-group-item">
                    <a class="btn btn-dark mr-2" href="{% url 'proyecto_rol_modificar' slug=proyecto.slug pk=rol.pk %}" role="button">Asignar/Modificar Rol</a>
                    <a class="btn btn-danger mr-2" href="{% url 'proyecto_rol_eliminar' slug=proyecto.slug pk=rol.pk %}" role="button">Eliminar Rol</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
