{% extends "layout/base.html" %}

{% block content %}
<div class="row mb-3">
    <h3>Extencion de Sprint</h3>
    <h5>Informacion a tener en cuenta</h5>
    <ul>
        <li>Horas de desarrollo total de los User Stories: {{ horas }} hs.</li>
        <li>Horas por desarrollar: {{ horas_por_desarrollar }}</li>
        <li>Horas por semana de los desarrolladores: {{ horas_desarrolladores }} hs.</li>
        <li>Cada dia consta de 8 horas de trabajo.</li>
        <li>Horas de desarrollo disponible en la semana: (El "*" marca el dia actual)</li>
    </ul>
    <div class="col-md-8">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Lunes{% if hoy == 0 %}<strong>*</strong>{% endif %}</th>
              <th scope="col">Martes{% if hoy == 1 %}<strong>*</strong>{% endif %}</th>
              <th scope="col">Miercoles{% if hoy == 2 %}<strong>*</strong>{% endif %}</th>
              <th scope="col">Jueves{% if hoy == 3 %}<strong>*</strong>{% endif %}</th>
                <th scope="col">Viernes{% if hoy == 4 %}<strong>*</strong>{% endif %}</th>
            </tr>
          </thead>
          <tbody>
                <tr>
                  <td>{{ horas_por_dia.lun }} hs.</td>
                  <td>{{ horas_por_dia.mar }} hs.</td>
                  <td>{{ horas_por_dia.mie }} hs.</td>
                  <td>{{ horas_por_dia.jue }} hs.</td>
                  <td>{{ horas_por_dia.vie }} hs.</td>
                </tr>
          </tbody>
        </table>
    </div>
</div>
<div class="row mb-3">
    <h7>Agregar</h7>
    <div class="form-group col-md-4">
        <form method="post">
            {% csrf_token %}
            <label for="fecha_fin" class="form-label">Fecha de Finalizacion</label>
            <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" onkeydown="return false"
                   min="{{ proyecto.sprint_actual.fecha_finalizacion. }}" REQUIRED>
            <button class="btn btn-dark" type="submit">Extender</button>
        </form>
        <a class="mb-3 btn btn-danger" href="{% url 'proyecto_gestion' slug=proyecto.slug %}">Volver</a>
    </div>
</div>
    <script>
    let day = {{ proyecto.sprint_actual.fecha_finalizacion.date.day }};
    let month = {{ proyecto.sprint_actual.fecha_finalizacion.date.month }};
    if(day<10){
        day = '0'+day;
    }
    if(month<10){
        month = '0'+month;
    }
    date1 = {{ proyecto.sprint_actual.fecha_finalizacion.date.year }}+'-'+
            month+'-'+
            day;
    let datex = new Date(date1)
    datex.setDate(datex.getDate()+1);
    document.getElementById("fecha_fin").setAttribute("min", datex.toISOString().split('T')[0]);

</script>
{% endblock %}
