<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>US Prioridad</h1>
        {% for us in sprint_actual.sprint_backlog.all|dictsortreversed:"prioridad"  %} 
            <div>
                <div>
                    <h4>Prioridad:</h4>
                    <p>{{ us.prioridad }}</p>
                </div>
                <div>
                    <h4>Nombre US:</h4>
                    <p>{{ us.descripcion }}</p>
                </div>
                <div>
                    <h4>Horas trabajadas:</h4>
                    <p>{{ us.tiempoEnDesarrollo }}</p>
                </div>
                <div>
                    <h4>Usuario asignado:</h4>
                    <p>{{ us.desarrolladorAsignado.username }}</p>
                </div>
                <div>===============================</div>
            </di>
        {% endfor %}
    </body>
</html>
