{% extends 'layout/base.html' %}
{% block body %}
<div >
<div class="col-md-12    >
            <div class="card card-default"  >
              <div class="card-header" >
                <h3 class="card-title" >
                    CREAR USER STORY
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table" id="data">

                     <form action="." method="post">
	                	{% csrf_token %}
	                    	{{ form.as_p }}
		                    <button type="submit" >Guardar</button>
	                </form>
                    </table>
              </div>

            </div>
          </div>
 <div class="col-md-12  " style = "float: left" >
            <div class="card card-default" >
              <div class="card-header">
                <h3 class="card-title">
                    USERS STORYS
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table" id="data">
                    {% for list in object_list %}
                        <tr>
                            <td>{{ list.nombre }}</td>
                            <td>{{ list.descripcion }}</td>
                          <td> <a class="btn btn-primary btn-warning " href="#" >Editar</a></td>
                            <td> <a class="btn btn-danger btn-flat" href="#" >Eliminar</a></td>
                            <td> <a class="btn btn-info btn-flat" href="#" >Historial</a></td>

                        </tr>

                    {% endfor %}

                </table>
              </div>

            </div>
          </div>
</div>
{% endblock %}