{% extends 'layout/base.html' %}

{% block body %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6">
        <h2>QA de User Story</h2>
        <p>Descripcion: {{ user_story.descripcion }}</p>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <h5>Informarcion relevante: </h5>
    <ul>
        <li>Esfuerzo en horas estimado de User Story: {{ user_story.tiempoEstimado }} hs.</li>
        <li>Total de horas invertidas en el User Story: {{ user_story.tiempoEnDesarrollo }} hs.</li>
    </ul>
</div>
<div class="row">

</div>
<div class="row">
    <div class="col-md-6 border border-2">
        <h3>Actividades</h3>
        <table bgcolor="#f0ffff" class="table mb-2" border="5"  >
          <thead>
            <tr align="justify">
                <th scope="col">Descipcion</th>
                <th scope="col">Horas Invertidas</th>
            </tr>
          </thead>
          <tbody>
            {% for list in user_story.RegistroActividad.all %}
                <tr>
                    <td>{{ list.descripcion }}</td>
                    <td>{{ list.hora }}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="col-md-6 border border-2">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <label for="fecha" class="form-label">Fecha</label>
                <input type="date" class="form-control mb-3" id="fecha" name="fecha" onkeydown="return false"
                       REQUIRED>
            <button class="btn btn-dark mb-4" type="submit">Guardar</button>
        </form>
    </div>
</div>
<div class="row m-3">

</div>
    <script>
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();

if(dd<10) {
  dd = '0'+dd
}

if(mm<10) {
  mm = '0'+mm
}

today = yyyy + '-' + mm + '-' + dd;
console.log(today);
document.getElementById("fecha").value = today;


</script>
<script>
let day = {{ user_story.sprint.fecha_finalizacion.date.day }};
let month = {{ user_story.sprint.fecha_finalizacion.date.month }};
if(day<10){
    day = '0'+day;
}
if(month<10){
    month = '0'+month;
}
date1 = {{ user_story.sprint.fecha_finalizacion.date.year }}+'-'+
        month+'-'+
        day;
let datex = new Date(date1)
datex.setDate(datex.getDate()+1);
document.getElementById("fecha").setAttribute("max", datex.toISOString().split('T')[0]);
day = {{ user_story.sprint.fecha_inicio.date.day }};
month = {{ user_story.sprint.fecha_inicio.date.month }};
if(day<10){
    day = '0'+day;
}
if(month<10){
    month = '0'+month;
}
date1 = {{ user_story.sprint.fecha_inicio.date.year }}+'-'+
        month+'-'+
        day;
datex = new Date(date1)
datex.setDate(datex.getDate()+1);
document.getElementById("fecha").setAttribute("min", datex.toISOString().split('T')[0]);

</script>
{% endblock %}
