{% extends 'layout/base.html' %}

{% block content %} 

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ProjectManager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <div><a class="nav-link" href="{% url 'proyecto_listar' %}">Proyectos</a></div>
                </div>
                <div class="navbar-nav ms-auto">
                    <div><a class="nav-link" href="{% url 'account_email' %}">Cambiar email</a></div>
                    <div><a class="nav-link" href="{% url 'account_logout' %}">Cerrar Sesión</a></div>
                </div>
            </div>
        </div>
    </nav>
    <div class="mt-3 text-center">
        <h2>Gestor de Proyectos </h2> 
        <p>Hola {{ user.first_name }}!</p>
        <p>Tu username : {{ user }}</p>
    </div>
    <footer class="footer bg-dark py-3 mt-auto">
        <div class="container">
            <span class="text-muted">Project Manager 2021</span>
        </div>
    </footer>
{% endblock %}